Source: qubes-buskill-vm
Section: admin
Priority: optional
Maintainer: Michael Altfield and the BusKill Team <releases@buskill.in>
Build-Depends: debhelper (>= 10), make
Standards-Version: 4.4.0.1
Homepage: https://www.buskill.in/

Package: qubes-buskill-vm
Architecture: all
Depends: ${misc:Depends}
Description: BusKill is a dead man's switch designed to protect your computer
 if it is physically seized. You connect one end of a USB cable to your laptop
 and attach the other end to your body (e.g. a belt loop). If someone snatches
 your laptop and runs, the cable disconnects and BusKill automatically triggers
 a security response: locking the screen, rebooting, or destroying encryption
 keys, before an attacker can access your data.
 .
 For more information about BusKill, visit https://www.buskill.in/.
 .
 This package contains files for TemplateVMs (the USB qube and interface
 qubes): the BusKill service, udev rules, and trigger scripts
